@model ASP.Models.BooksNew

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BooksNew</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.New)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.New)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pressrun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pressrun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format.Format)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Izd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Izd.Izd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategory.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Themes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Themes.Themes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.N" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
