@model PaginatedList<BooksNew>

<thead>
    <tr>
        <th>
            <a asp-action="Indexdata"
               asp-route-sortOrder=@ViewData["NameSortParam"]
               asp-route-SearchString=@ViewData["CurrentFilter"]
               data-ajax="true"
               data-ajax-update="#Tabledata"
               data-ajax-method="GET">
                Name
            </a>
        </th>
        <th>
            <a asp-action="Indexdata"
               asp-route-sortOrder=@ViewData["IzdSortParam"]
               asp-route-SearchString=@ViewData["CurrentFilter"]
               data-ajax="true"
               data-ajax-update="#Tabledata"
               data-ajax-method="GET">
                Izd
            </a>
        </th>
        <th>
            <a asp-action="Indexdata"
               asp-route-sortOrder=@ViewData["CategorySortParam"]
               asp-route-SearchString=@ViewData["CurrentFilter"]
               data-ajax="true"
               data-ajax-update="#Tabledata"
               data-ajax-method="GET">
                Category
            </a>
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <label>@item.Name</label>
            </td>
            <td>
                <label>@item.New</label>
            </td>
            <td>
                <label>@item.Price</label>
            </td>
            <td>
                <label>@item.Pages</label>
            </td>
            <td>
                <label>@item.Pressrun</label>
            </td>
            <td>
                <label>@item.Format</label>
            </td>
            <td>
                <label>@item.Izd</label>
            </td>
            <td>
                <label>@item.Kategory</label>
            </td>
            <td>
                <label>@item.Themes</label>
            </td>
            <td>
                <label>@item.Date.ToString()</label>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id=@item.N>
                    Edit
                </a> |
                <a asp-action="Details" asp-route-id=@item.N>
                    Details
                </a> |
                <a asp-action="Delete" asp-route-id=@item.N>
                    Delete
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <div class="form-actions no-color">
                <a asp-action="Indexdata"
                   asp-route-sortOrder=@ViewData["CurrentSort"]
                   asp-route-pageNumber=@(Model.PageIndex - 1)
                   asp-route-SearchString=@ViewData["CurrentFilter"]
                   data-ajax="true"
                   data-ajax-update="#Tabledata"
                   data-ajax-method="GET"
                   class="btn btn-primary @prevDisabled">
                    Previous
                </a>
                <a asp-action="Indexdata"
                   asp-route-sortOrder=@ViewData["CurrentSort"]
                   asp-route-pageNumber=@(Model.PageIndex + 1)
                   asp-route-SearchString=@ViewData["CurrentFilter"]
                   data-ajax="true"
                   data-ajax-update="#Tabledata"
                   data-ajax-method="GET"
                   class="btn btn-primary @nextDisabled">
                    Next
                </a>
            </div>
        </td>
    </tr>
</tbody>
