@model Person
@{
    ViewData["Title"] = "MyData";
}

@using (Html.BeginForm("_DataPartial", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Create New Data Form</legend>

        <div>
            <b>@Html.LabelFor(m => m.Name)</b>
            @Html.TextBoxFor(m => m.Name)
        </div>

        <div>
            <b>@Html.LabelFor(m => m.Surname)</b>
            @Html.TextBoxFor(m => m.Surname)
        </div>

        <div>
            <b>@Html.LabelFor(m => m.MiddleName)</b>
            @Html.TextBoxFor(m => m.MiddleName)
        </div>

        <div>
            <b>@Html.LabelFor(m => m.Gender)</b>
            @Html.RadioButtonFor(m => m.Gender, "Чоловік") <label>Чоловік</label>
            @Html.RadioButtonFor(m => m.Gender, "Жінка") <label>Жінка</label>
        </div>

        <div>
            <b>@Html.LabelFor(m => m.City)</b>
            @Html.DropDownList("City", new SelectList(ViewBag.Cities))
        </div>

        <div>
            <b>@Html.LabelFor(m => m.Hobbies)</b>
            @Html.ListBoxFor(m => m.Hobbies, new MultiSelectList(ViewBag.Hobbies))
        </div>

        <div>
            <b>@Html.LabelFor(m => m.Birthday)</b>
            @Html.TextBoxFor(m => m.Birthday, "", new { type = "date" })
        </div>

        <br />

        <input type="submit" value="Надіслати" />

    </fieldset>
}